__pycache__
.vscode/
.ipynb_checkpoints/
videos/
tanklabels.h5

# captures/
captures/*
configs/
configs/*
tests/
tests/*
images/labels.zip
images/common
machine-learning/frozen_inference_graph.pb
machine-learning/graph.pbtxt
machine-learning/label_map.pbtxt
machine-learning/logs.ipynb*
machine-learning/tests/
machine-learning/tests/*
machine_learning/models
machine_learning/generated
machine_learning/test
machine_learning/tests/
machine_learning/tests/*
machine_learning/train
machine-learning/training/
utils/
utils/*
logs/fit
logs/fit/*
machine-learning/logs/
keras_models
token.txt
stamps*
.editorconfig
filters.npy
_video_tracker_*
workspace.code-workspace
app/logs/*.log
app/logs/error/*.log
# app/logs/
app/results
app/results/*
logs/fit
logs/*.*
test.jpg
app/logs/app.log.20201228
error.log.*
app.log.*
app/logs/results/*
results/*
drain/
drain/*
drain_/
drain/*
drain_2/
drain_1/
drain_1/*
drain_2/*